<form class="form-signin" method="post">
    <h2 class="form-signin-heading text-center">Please Sign In</h2>
    <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="">
    <br>
    <input type="password" name="password" class="form-control" placeholder="Password" require="">
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
    <br>
    <h4 class="text-center">Or</h4>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with Google</a>
    
</form>