<form class="form-signin" method="post">
     {{#each errorMessages}}
        <div class="alert-danger alert">
            {{this.msg}}
        </div>
    {{/each}}
    
    <h2 class="form-signin-heading text-center">New Account</h2>
    <input type="text" name="name" class="form-control" placeholder="Name" require="" autofocus="">
    <br>
    <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="">
    <br>
    <input type="password" name="password" class="form-control" placeholder="Password" require="">
    <br>
    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" require="">
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
    <br>
    <h4 class="text-center">Or</h4>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign Up with Google</a>
    
</form>